
.image-circle {
    width: 160px;
    height: 160px;
    border: 2px solid #cccccc;
    border-radius: 50%;
}

h1 {
  color: rgb(14, 167, 175);
  font-size: 40px;
  font-family: juliette_reg, serif;
  font-weight: 300 !important;
  text-transform: none;
  text-align: center;

}

h2 {
  font-family: antic, sans-serif;
  color: #333;
  font-size: 15px;
  text-align: center;
}


p {
  font-family: antic, sans-serif;
  color: #333;
  font-size: 15px;
  text-align: center;
}

body {
  max-width: 300 !important;
  font-family: antic, sans-serif;
  color: #333;
  font-size: 15px;
  background: #eee;
  text-align: center;
  background-image: url(images/marbre.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}


li {
  font-size: 30px;
  text-decoration: none;
  list-style: none;
  display: inline;
}

a {
  color: #333;
}

a:hover {
  color: rgb(14, 167, 175);
}

div {
  background: #000;
}

.block{
  background: rgba(80, 80, 80, 0.6);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  list-style: none;
  box-shadow: 0px 1px 2px 0px;
  font-family: antic, sans-serif;
  color: #333;
  font-size: 15px;
  text-align: center;
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  max-width: 600px;
  /*margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 200px;*/
  margin: 0 auto 20px;
}

.btn {
  padding: 10px 15px;
  border-radius: 5px;
  border: solid 1px rgba(50, 50, 50, 0.4);
  color: rgba(50, 50, 50, 0.4);
  text-decoration: none;
  text-align: center;
  display: inline-block;
}

.btn:hover {
  color: rgba(50, 50, 50, 1);
  border: solid 1px rgba(50, 50, 50, 1);
}
.btn:active {
  color: rgba(50, 50, 50, 1);
  box-shadow: inset 1px 1px 3px rgba(0,0,0,0.8);
  border: solid 1px rgba(50, 50, 50, 1);
}


.btn-lg {
  padding: 20px 35px;
  font-size: 24px;
}
.btn-sm {
  padding: 5px 10px;
  font-size: 14px;
}


.btn-round {
  border-radius: 50px;
}


.btn-red {
  background: #CA4B46;
  color: white;
}

.btn-green {
  background: #51CB76;
  color: white;
}


img {
  width: 160px;
  /*margin: 0 auto;
  display: block;
  height: 160px;
  border: 2px solid #cccccc;
  border-radius: 50%;*/
}
