.btn {
  padding: 10px 15px;
  border-radius: 5px;
  border: solid 1px rgba(50, 50, 50, 0.4);
  color: rgba(50, 50, 50, 0.4);
  text-decoration: none;
  text-align: center;
  display: inline-block;
}

.btn:hover {
  color: rgba(50, 50, 50, 1);
  border: solid 1px rgba(50, 50, 50, 1);
}
.btn:active {
  color: rgba(50, 50, 50, 1);
  box-shadow: inset 1px 1px 3px rgba(0,0,0,0.8);
  border: solid 1px rgba(50, 50, 50, 1);
}


.btn--lg {
  padding: 20px 35px;
  font-size: 24px;
}
.btn--sm {
  padding: 5px 10px;
  font-size: 14px;
}


.btn--round {
  border-radius: 50px;
}


.btn--red {
  background: #CA4B46;
  color: white;
}

.btn--green {
  background: #51CB76;
  color: white;
}
